body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.page-footer {
  padding-top: 0.5em;
}

#login, #register, #post-form {
  margin-top: 1em;
}

.divide {
  border: 1px solid #90a4ae;
}

.caption {
  font-size: 0.75em;
  color: #78909c;
}
