<div class="row">
  <div class="col s12">
    <h4>Welcome {{ name }}!</h4>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <a class="waves-effect waves-light btn red" href="/posts/add"><i class="material-icons left">add</i>New Post</a>
  </div>
</div>

{{> posts}}
